.games{
    margin: 30%;
    display: flex;
    margin-top: 40px;
    text-align: center;
    justify-content: space-between;
}

.img-thumbnail:hover{
    transform: scale(1.1);
}

.img-thumbnail{
    height: 20vh;
    width: 20vh;
    border-radius: 100%;
}

